<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cnic.dataspace.api.datax.admin.mapper.JobInfoMapper">


	<resultMap id="JobInfo" type="cn.cnic.dataspace.api.datax.admin.entity.JobInfo" autoMapping="true">
		<result column="import_from_data_source_vo" property="importFromDataSourceVo" typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"></result>
	</resultMap>

	<sql id="Project_Column_List">
		p.name as project_name,
		u.username
	</sql>
	<select id="pageList" parameterType="java.util.HashMap" resultMap="JobInfo">
		SELECT t.*,<include refid="Project_Column_List" />
		FROM job_info AS t
		INNER JOIN job_project p on t.project_id=p.id
		INNER JOIN job_user u on t.user_id = u.id
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0">
				AND t.job_group = #{jobGroup}
			</if>
            <if test="triggerStatus gte 0">
                AND t.trigger_status = #{triggerStatus}
            </if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="glueType != null and glueType != ''">
				AND t.glue_type like CONCAT(CONCAT('%', #{glueType}), '%')
			</if>
			<if test="userId gt 0">
				AND t.user_id = #{userId}
			</if>
            <if test="projectIds != null and projectIds.length != 0">
                AND t.project_id IN
                <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
                    #{projectId}
                </foreach>
            </if>
		</trim>
		ORDER BY id DESC
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="findAll" parameterType="java.util.HashMap" resultMap="JobInfo">
		SELECT t.*
		FROM job_info AS t
		ORDER BY job_desc ASC
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM job_info AS t
		INNER JOIN job_project p on t.project_id=p.id
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0">
				AND t.job_group = #{jobGroup}
			</if>
            <if test="triggerStatus gte 0">
                AND t.trigger_status = #{triggerStatus}
            </if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="glueType != null and glueType != ''">
				AND t.glue_type like CONCAT(CONCAT('%', #{glueType}), '%')
			</if>
			<if test="userId gt 0">
				AND t.user_id =#{userId}
			</if>
            <if test="projectIds != null and projectIds.length != 0">
                AND t.project_id IN
                <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
                    #{projectId}
                </foreach>
            </if>
		</trim>
	</select>


	<select id="getJobsByGroup" parameterType="java.util.HashMap" resultMap="JobInfo">
		SELECT t.*
		FROM job_info AS t
		WHERE t.job_group = #{jobGroup}
	</select>

	<select id="getJobByDataMappingId" resultMap="JobInfo">
		select * from job_info where data_mapping_id = #{dataMappingId}
	</select>

	<select id="findAllCount" resultType="int">
		SELECT count(1)
		FROM job_info
	</select>


	<select id="scheduleJobQuery" parameterType="java.util.HashMap" resultMap="JobInfo">
		SELECT t.*
		FROM job_info AS t
		WHERE t.trigger_status = 1
			and t.trigger_next_time <![CDATA[ <= ]]> #{maxNextTime}
		ORDER BY id ASC
		LIMIT #{pagesize}
	</select>

	<update id="scheduleUpdate" parameterType="cn.cnic.dataspace.api.datax.admin.entity.JobInfo"  >
		UPDATE job_info
		SET
			trigger_last_time = #{triggerLastTime},
			trigger_next_time = #{triggerNextTime},
			trigger_status = #{triggerStatus}
		WHERE id = #{id}
	</update>

	<update id="incrementTimeUpdate" parameterType="java.util.HashMap">
		UPDATE job_info
		SET
			inc_start_time = #{incStartTime}
		WHERE id = #{id}
	</update>

	<update id="updateLastHandleCode" parameterType="java.util.HashMap">
		UPDATE job_info
		SET
			last_handle_code = #{lastHandleCode}
		WHERE id = #{id}
	</update>

	<update id="incrementIdUpdate" parameterType="java.util.HashMap">
		UPDATE job_info
		SET
		inc_start_id = #{incStartId}
		WHERE id = #{id}
	</update>
</mapper>